page-view {
 .body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../../assets/imgs/61FgN+veF5L._SL1200_.jpg');
    background-size: cover;
    background-position-x: 50%;}
    .cir{
        position: relative;
        margin-left: 90%;
        font-size: 3em;
        background: transparent;
        color:white;
    }
    .cirs{
        background: transparent;
        margin-top: 10%;
        color: white;
    }
}
