page-home {
.body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../../assets/imgs/61FgN+veF5L._SL1200_.jpg');
    background-size: cover;
    background-position-x: 50%;
}
.btn{
    position: relative;
    top: 85.9%;
    background-color: purple;
    margin-left: 30%;
    font-size: 1.6em;
    color: white;
    border-radius: 50%;
    
}
.ext{
    position: relative;
    top: 90%;
    font-size: 3em;
   color: purple;
   margin-left: 18%;
}
}
